<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script th:inline="javascript">

    function applySavedFilter(id) {
            $.ajax({
                url: "/user/[[${userName}]]/filter/"+id
            }).then(function(filter) {
                $("input:radio").each(function () { $(this).attr('checked', false) })
                $("#models").val(filter.models)
                $("#yearFrom").val(filter.yearFrom)
                $("#yearTo").val(filter.yearTo)
                $("#priceFrom").val(filter.priceFrom)
                $("#priceTo").val(filter.priceTo)
                $("#brands").val(filter.brands)
                $(this).attr('checked', true)
         })
        }

    function delFilters(id) {
        $.ajax({
        url: "/user/[[${userName}]]/filter/"+id,
        type: 'DELETE',
        success: function(){
            $(".filters").empty()
            loadFilters()
            }
        });
    }

    function loadFilters() {
        $.ajax({
            url: "/user/[[${userName}]]/filters"
        }).then(function(data) {
            $.each(data, function(i, filter) {
                $('<input>').attr({
                    type: 'radio',
                    id: i,
                    onchange: 'applySavedFilter(this.id)'
                }).appendTo('.filters').after("Brands: "+filter.brands+", Models: "+filter.models+
                ", year from: "+filter.yearFrom+", year to: "+filter.yearTo+
                ", price from: "+filter.priceFrom+", price to: "+filter.priceTo+"<br>"+
                "<button onclick='delFilters("+i+"); return false;'>delete</button><br>");
            });
        })
    };

    $(document).ready(loadFilters());

</script>
<head>
    <title>Form</title>
</head>
<body>

Welcome  [[${userName}]]
<br>
<a href=/home>to home page</a><br>

<form class="filters">
    Your saved filters are: <br>
</form>

<form method="post" action="/search">
    <br>Brands available: <br>
    <input th:each="brand : ${brands}" type="checkbox" name="brands" th:value="${brand}" th:text="${brand}" onchange="applySavedFilter(this.id)"/><br>
    Brands:
    <input type="text" name="brands" id="brands" value=""><br>
    Models:
    <input type="text" name="models" id="models" value=""><br>
    Year: <br> from  <input type="text" name="yearFrom" id="yearFrom" value="2000">
    - to <input type="text" name="yearTo" id="yearTo" value="2018"><br>
    Price: <br> from <input type="text" name="priceFrom" id="priceFrom" value="0">
    - to <input type="text" name="priceTo" id="priceTo" value="20000"><br>
    Include last <input type="text" name="periodRange" id="periodRange" value="1">
    <select name="periodMultiplier">
        <option value="DAYS">Days</option>
        <option value="WEEKS">Weeks</option>
        <option value="MONTHS">Months</option>
    </select>
    <!--<input type="hidden" name="limit" value="100">-->
    <input type="checkbox" name="saveFilter" value="true" unchecked> Save Filter <br>
    <input type="submit">
</form>

<div class="search">
    <table border="1">
        <tr>
            <th style="width: 50%;" align="left">Message</th>
            <th style="width: 10%;" align="left">Year</th>
            <th style="width: 10%;" align="left">Model</th>
            <th style="width: 10%;" align="left">Brand</th>
            <th style="width: 10%;" align="left">Price USD </th>
            <th style="width: 10%;" align="left">Date published </th>
        </tr>

        <tr th:each="document : ${documents}" >
            <td align="left" valign="top" th:utext="|${document.get('title')}<br>${document.get('message')}|"></td>
            <td align="left" valign="top" th:text="${document.get('year')}"></td>
            <td align="left" valign="top" th:text="${document.get('model')}"></td>
            <td align="left" valign="top" th:text="${document.get('category')}"></td>
            <td align="left" valign="top" th:text="${document.get('price_usd')}"></td>
            <td align="left" valign="top" th:text="${document.get('published')}"></td>
        </tr>
    </table>
</div>

</body>
</html>
